.input_main {
    border-color: var(--backgroundColor);
    outline-color: var(--hoveredColor);
    color: #b2a3af;
}

.label_input {
    color: #b2a3af;
}

.input-container:focus-within .label_input,
.input-container:focus-within .input_main {
    color: black;
}

