.containerUpcomming {
  border-width: 0;

  border-left-width: 0.15rem;
  border-color: var(--login_button);
  min-height: 4rem;
}

.containerUpcomming::before {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--login_button);
  content: "";
  border-radius: 100%;
  transform: translateX(-55%);
}

.eventHolder > .containerUpcomming:last-child {
  border-left-width: 0;
}

.warning {
  background-color: var(--ongoing-color);

  padding: 0rem 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: 600;
}
.error {
  background-color: var(--error-color);
  padding: 0rem 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: 600;
}
.tomorrow {
  background-color: var(--warning-color);
  padding: 0rem 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: 600;
}
